/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #FF9975;
  --ifm-color-primary-dark: #039be5;
  --ifm-color-primary-darker: #0288d1;
  --ifm-color-primary-darkest: #0277bd;
  --ifm-color-primary-light: #29b6f6;
  --ifm-color-primary-lighter: #4fc3f7;
  --ifm-color-primary-lightest: #81d4fa;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
