name: GitHub Actions Build and Deploy

on: 
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-one: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      
      - name: Build and Deploy
        uses: JamesIves/github-pages-deploy-action@master
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build
          BUILD_SCRIPT: yarn && yarn build